h1,
h2,
h3,
h4,
h5 {
    color: var(--srcery-black);
    font-family: "Verdana", sans-serif;
}

a {
    color: var(--srcery-black-bright);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    background-color: #dddd;
}

body {
    width: 80%;
    padding: 15px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.site-title {
    font-size: 2.3em;
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
}

.centered {
    align-self: center;
    text-align: center;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    width: 100%;
}

:root {
    --srcery-black: #1c1b19;
    --srcery-red: #ef2f27;
    --srcery-green: #519f50;
    --srcery-yellow: #fbb829;
    --srcery-blue: #2c78bf;
    --srcery-magenta: #e02c6d;
    --srcery-cyan: #0aaeb3;
    --srcery-white: #baa67f;

    --srcery-black-bright: #918175;
    --srcery-red-bright: #f75341;
    --srcery-green-bright: #98bc37;
    --srcery-yellow-bright: #fed06e;
    --srcery-blue-bright: #68a8e4;
    --srcery-magenta-bright: #ff5c8f;
    --srcery-cyan-bright: #2be4d0;
    --srcery-white-bright: #fce8c3;

    --srcery-orange: #ff5f00;
    --srcery-orange-bright: #ff8700;
    --srcery-black-hard: #121212;
    --srcery-teal: #008080;
    --srcery-xgray1: #262626;
    --srcery-xgray2: #303030;
    --srcery-xgray3: #3a3a3a;
    --srcery-xgray4: #444444;
    --srcery-xgray5: #4e4e4e;
    --srcery-xgray6: #585858;
    --srcery-xgray7: #626262;
    --srcery-xgray8: #6c6c6c;
    --srcery-xgray9: #767676;
    --srcery-xgray10: #808080;
    --srcery-xgray11: #8a8a8a;
    --srcery-xgray12: #949494;
}

pre {
    background-color: var(--srcery-black);
    color: var(--srcery-white-bright);
    padding: 10px;
    overflow-x: auto;
}

pre code {
    white-space: pre;
    font-family: "Sometype Mono", monospace;
    padding: 0px;
    color: var(--srcery-white-bright);
    background-color: var(--srcery-black);
}

code {
    background-color: var(--srcery-black);
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--srcery-yellow);
    white-space: pre;
    font-family: "Sometype Mono", monospace;
}

code .attribute {
    color: var(--srcery-white-bright);
}
code .boolean {
    color: var(--srcery-magenta-bright);
}
code .character {
    color: var(--srcery-magenta-bright);
}
code .character-special {
    color: var(--srcery-blue);
}
code .comment {
    color: var(--srcery-black-bright);
}
code .conditional {
    color: var(--srcery-red);
}
code .constant {
    color: var(--srcery-magenta-bright);
}
code .constant-builtin {
    color: var(--srcery-orange);
}
code .constant-macro {
    color: var(--srcery-cyan);
}
code .constructor {
    color: var(--srcery-blue);
}
code .debug {
    color: var(--srcery-black-bright);
}
code .define {
    color: var(--srcery-cyan);
}
code .error {
    color: var(--srcery-white);
}
code .exception {
    color: var(--srcery-red);
}
code .field {
    color: var(--srcery-cyan);
}
code .float {
    color: var(--srcery-magenta-bright);
}
code .function {
    color: var(--srcery-yellow);
}
code .function-builtin {
    color: var(--srcery-orange);
}
code .function-call {
    color: var(--srcery-yellow);
}
code .function-macro {
    color: var(--srcery-orange);
}
code .include {
    color: var(--srcery-cyan);
}
code .keyword {
    color: var(--srcery-red);
}
code .keyword-function {
    color: var(--srcery-red);
}
code .keyword-return {
    color: var(--srcery-red);
}
code .keyword-operator {
    color: var(--srcery-red);
}
code .label {
    color: var(--srcery-red);
}
code .literal {
    color: var(--srcery-red);
}
code .macro {
    color: var(--srcery-orange);
}
code .method {
    color: var(--srcery-yellow);
}
code .namespace {
    color: var(--srcery-cyan);
}
code .number {
    color: var(--srcery-magenta-bright);
}
code .operator {
    color: var(--srcery-white-bright);
}
code .parameter {
    color: var(--srcery-cyan);
}
code .preproc {
    color: var(--srcery-cyan);
}
code .property {
    color: var(--srcery-cyan);
}
code .punctuation {
    color: var(--srcery-black-bright);
}
code .punctuation-bracket {
    color: var(--srcery-black-bright);
}
code .punctuation-delimiter {
    color: var(--srcery-black-bright);
}
code .punctuation-special {
    color: var(--srcery-black-bright);
}
code .repeat {
    color: var(--srcery-red);
}
code .storageclass {
    color: var(--srcery-orange);
}
code .string {
    color: var(--srcery-green-bright);
}
code .string-escape {
    color: var(--srcery-blue);
}
code .string-special {
    color: var(--srcery-blue);
}
code .structure {
    color: var(--srcery-cyan);
}
code .tag {
    color: var(--srcery-cyan);
}
code .text-literal {
    color: var(--srcery-black-bright);
}
code .text-reference {
    color: var(--srcery-cyan);
}
code .text-title {
    color: var(--srcery-green);
}
code .text-todo {
    color: var(--srcery-white);
}
code .text-underline {
    color: var(--srcery-blue);
}
code .text-uri {
    color: var(--srcery-blue);
}
code .type {
    color: var(--srcery-blue-bright);
}
code .type-builtin {
    color: var(--srcery-blue-bright);
}
code .type-definition {
    color: var(--srcery-magenta);
}
code .type-qualifier {
    color: var(--srcery-blue-bright);
}
code .variable {
    color: var(--srcery-cyan);
}
code .variable-builtin {
    color: var(--srcery-magenta-bright);
}
